body {
  background-color: powderblue;
}
h1, h3 {
  color: blue;
  text-align:center;
  font-family:Arial;
}

p, li{
  color: black;
  text-align:justify;
  font-family:Verdana;
}

#sidebar{
  width: 25%;
  float:left;
  margin-left:5%;
}
#sidebar img{
  width:95%;
}

#sidebar ul li{
  text-align:center;
  list-style:none;
}

#sidebar h3 a{
  text-decoration:none;
}

#conteudo{
  width:55%;
  float:right;
  margin-left:5%;
  margin-right:10%;
}
