body {
  background-color: #ececf1;
}

#titulo{
  margin: 0 auto 1% auto;
  width:100%;
  height: 5%;
  background-color: rgb(27, 23, 26);
  border-radius: 25px;
}

#titulo h1{
  padding-top: 1%;
  color:#ffffff;
}

h1, h3 {
  color: blue;
  text-align:center;
  font-family:Arial;
}

p, li{
  color: black;
  text-align:justify;
  font-family:Verdana;
}

#sidebar{
  width: 25%;
  float:left;
  margin-left:5%;
  background-color:#d3d3d4;
  border-radius: 25px;
  box-shadow: -15px 8px 56px -4px rgba(0,0,0,0.75);
}
#sidebar img{
  width:100%;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
}

#sidebar ul li{
  text-align:center;
  list-style:none;
}

#sidebar h3 a{
  text-decoration:none;
  color: #504949;
}

#conteudo{
  width:55%;
  float:right;
  margin-right:8%;
  background-color: rgb(139, 178, 193);
  padding: 2%;
  border-radius: 15px 50px;
  font-size: 20px;
  box-shadow: -15px 8px 56px -4px rgba(0,0,0,0.75);


}
